body{
    font-family: 'Squada One', 'Noto Sans TC','Paytone One', sans-serif;
}
ul {
    margin-bottom: 0;
};
img{
    max-width: 100%;
    vertical-align: middle;
}
a{
    display: block;
    text-decoration: none;
}
li{
    list-style: none;
}