// button
.btn-triangle {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        border-left: 16px transparent solid;
        border-bottom: 16px $primary solid;
    }
}

.btn-triangle:hover::after {
    border-bottom: 16px black solid;
}

.btn-white {
    background-color: white;
    border: 1px solid black;
}

.btn-white:hover {
    background-color: $primary;
    color: white;
}

.btn-border:hover {
    background-color: $primary;
    color: white;
    border: 1px solid black;
}

// card img hover
.card-hover:hover {
    position: relative;
    &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: rgba($color: #000000, $alpha: .5);

    }
}


// text hover
.text-hover {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 50% 0;
    transform: translate(-50%, -50%);
    opacity: 0;
    color: #fff !important;
}

// card with triangle
.card-triangle:hover {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        border-left: 16px transparent solid;
        border-bottom: 16px $primary solid;
    }
}

// swipper pagination
.swiper-pagination {
    position: unset;

    &-bullet {
        border-radius: 0;
        background: $black;
        opacity: 1;
        transition: .5s;
    }

    &-bullet-active {
        width: 16px;
        background: $primary;
        transition: .5s;
    }
}

// .iphoneSwiper {
//     .swiper-wrapper {
//         @include iphone{
//             height: 370px;
//         }

//         @include ipad {
//             height: 255px;
//         }

//         @include laptop {
//             height: 344px;
//         }
//     }
// }


// swiper room
.swiper-slide-prev,
.swiper-slide-next {
    @include laptop{
        width: 25% !important;
        transition: .5s;
        h3, a{
            font-size: 16px !important;
        }
        img{
            filter: grayscale(100%);
        }
        p{
            display: none;
        }
    }
}

.swiper-slide-active {
    @include laptop{
        width: 50% !important;
        transition: .5s;
    }
}